.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 48px;
  display: flex;
  border: 1px solid var(--color-support);
  border-radius: 4px;
  box-sizing: border-box;
}

.input {
  position: relative;
  width: 100%;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  background: var(--color-main);
  color: var(--color-text);
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-text);
}

.icon {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  font-size: 12px;
  opacity: .6;
  color: var(--color-text);
  display: flex;
  align-items: center;
  padding-top: 5px;
  transition: all .3s ease;
  pointer-events: none;
}

.active {
  transform: translateY(-50%) rotate(-90deg);
}

.list {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-height: 220px;
  background: var(--color-main);
  border: 1px solid var(--color-support);
  border-radius: 4px;
  top: 100%;
  left: -1px;
  transform: translateY(0);
  overflow: hidden;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  color: #313131;
  z-index: 100;
}

.visibility {
  visibility: visible;
  opacity: 1;
  transform: translateY(5%);
}

.option {
  list-style: none;
  font-size: 17px;
  text-transform: capitalize;
  padding: 7px 10px;
  cursor: pointer;
}

.option:hover {
  color: var(--color-main);
  background: var(--color-support);
}
