.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: visibility 0.2s;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup {
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  width: min(96%, 32rem);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
}

.header {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8e8e8e;
  margin-bottom: 24px;
}

.title {
  margin: 0;
  font-size: 20px;
  color: #313131;
}

.clouse {
  font-size: 32px;
  color: #000;
  cursor: pointer;
  transition: all .3s ease;
}

.clouse:hover {
  transform: scale(1.2);
}

.select-option {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid #c7cad4;
  border-radius: 8px;
}

.input {
  position: relative;
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background: #f9f9f9;
  color: #313131;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  font-size: 12px;
  color: #313131;
  display: flex;
  align-items: center;
  padding-top: 5px;
  transition: all .3s ease;
  pointer-events: none;
}

.icon.active {
  transform: translateY(-50%) rotate(-90deg);
}

.options {
  position: absolute;
  width: 100%;
  max-height: 220px;
  background: #f6f6f6;
  border-radius: 8px;
  top: 100%;
  transform: translateY(0);
  overflow: hidden;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  color: #313131;
  z-index: 100;
}

.options.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(5%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 17px;
  text-transform: capitalize;
  padding: 17px 20px;
  cursor: pointer;
}

li:hover {
  background: #e6ff32;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3b3b3b;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}

.wrapper {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  position: relative;
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
  transition: all .3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.input-radio {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  z-index: 10;
  box-shadow: 1px 1px 10px #aaa, -1px -1px 10px #fff;
}

.input-radio + .check::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  background-color: #e8e8e8;
}

.input-radio:checked + .check::after {
  content: '';
  position: absolute;
  top: 19px;
  right: 19px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}

.input-radio[value="standart"]:checked + .check::after {
  background-color: rgba(255, 165, 0, 0.7);
}

.input-radio[value="premium"]:checked + .check::after {
  background-color: rgba(0, 128, 0, 0.7);
}

.input-radio[value="basic"]:checked {
  border: 1.5px solid rgba(255, 0, 0, 0.7);
}

.input-radio[value="standart"]:checked {
  border: 1.5px solid rgba(255, 165, 0, 0.7);
}

.input-radio[value="premium"]:checked {
  border: 1.5px solid rgba(0, 128, 0, 0.7);
}

.label {
  color: #313131;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.label .title-card {
  margin: 15px 0 0 15px;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.label .price {
  margin: 20px 0 0 15px;
  font-size: 20px;
  font-weight: 900;
}

.label .span {
  color: gray;
  font-weight: 700;
  font-size: 15px;
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  border: none;
  background-color: #476dcf;
  padding: 8px 0;
  border-radius: 10px;
}